.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;

  &--grey {
    background-color: #c9d1d3;
  }

  &--lime {
    background-color: #fbff00;
  }

  &--purple {
    background-color: #ae00ff;
  }

  &--black {
    background-color: #08001a;
  }

  &--red {
    background-color: #ff0000;
  }

  &--green {
    background-color: #00db79;
  }

  &--blue {
    background-color: #00b3ff;
  }

  &--pink {
    background-color: #ff7a9b;
  }
}
