* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.container {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.todo {
  display: grid;
  grid-template-columns: minmax(250px, 20%) 1fr;
  height: 550px;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #000;
  border-radius: 10px;
  font-size: 14px;
  overflow: auto;

  &__sidebar {
    background-color: #e9e9e9;
    padding: 60px 20px;
  }

  &__tasks {
    background-color: #f3f3f3;
    padding: 60px;
    overflow: auto;
  }
}

.button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: darken(#4dd599, 6%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }

  &:disabled {
    background: #d8d8d8;
  }

  &--grey {
    background: #ffffff;
    color: #444444;

    &:hover {
      background: darken(#ffffff, 20%);
    }

    &:active {
      background: darken(#ffffff, 40%);
    }
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
  }
}
